*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --C0 : rgb(167,169,172);
    --C1 : rgb(0,125,190);
    --C2 : rgb(0,88,138);
    --C3 : rgb(0,171,189);
    --C4 : rgb(84,198,211);
    --C5 : rgb(0,183,199);
    --C6 : rgb(35,31,32);
    --C7 : rgb(99,100,102);
  }

html{
    font-size: 62.5%;
    /*1rem = 10px*/
}

body{
    font-family: 'Optima', 'Century Gothic';
    font-weight:400;
    line-height: 1.6;
    min-height: 100vh;
    max-width: 100vw;
}

h1,
h2,
p {

    margin: 1.6rem 0;
}

h1 {
    font-weight: 800;
    font-size: 3.6rem;
}

h2 {
    font-weight: 800;
    font-size: 2.4rem;
}

h3 {
    font-weight: 600;
    font-size: 1.8rem;
}

p {
    font-weight: 400;
    font-size: 1.8rem;
}