@import url(main.css);
/*****************HEADER*******************/


body{
    background-color: cadetblue;
    background-image: url('../images/header_background6.jpg');
    background-image: linear-gradient();
    /*background: linear-gradient(rgba (0,0,0,0.2),rgba(0,0,0,0.2),url('../images/header_background1.jpeg'))*/;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.header{
    height: 60vh;
    width: 100%;
    background-image: url('../images/header_background4.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;  
}

.header__index{
    background-image: none;
}

.wrapper{
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    
  }
  
  .wrapper .wrapper__video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
     -webkit-filter: blur(1px);
     -moz-filter: blur(1px);
     -o-filter: blur(1px);
     -ms-filter: blur(1px);
     filter: blur(1px);
     filter: saturate(1);
     filter: grayscale(0.2);
     filter: hue-rotate(0.1turn);
  }

.header__travel{
    background-image: url('../images/airplane_header.png');
    background-size: 100% 80%;  

}

.header_logo_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10rem 5rem 0;
}

.img_logo{
    height: 12rem;
    width: auto;
    margin: 0 0 0 8rem;
    
}

.img_logo_icacie{
    height: 10rem;
    width: auto;
    margin: 0 0rem 0rem 10rem;
}


.navbar__content > .header_logo_title > span{
    font-size: 4.5rem;
    color: var(--C4);
    margin: 0rem 0 0 10.5rem;
    
}

.top__header__navbar{
    display: flex;
    justify-content: flex-end;
}

.header__item-top  a{
    font-size: 1.4rem ;
    color: var(--C4);
    padding: 1em 1.5em;
    text-decoration: none;
    font-style: italic;
    /*text-transform: uppercase;*/
}

.navbar__content{
    height: 53vh;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 0.5rem;
}
.header__navbar{
    padding: 2rem 2rem 2rem 2rem;   
    font-weight: 600;
}

/*********mob**********/
.topnav{
    display: none;
}

  .topnav #myLinks {
    position: absolute;
    top: 0;
    background-color: var(--C1);
    width: 100%; 
    z-index: 1;
}
  
.topnav a {
    color: white;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.7rem;
    display: block;
    text-align: center;
    
}
  
.topnav a.icon {
    background: var(--C1);
    display: block;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
}

  .topnavbar{
    justify-self: center;

}

.header__list{
    width: 60vw;
    display: flex;   
    justify-content: space-evenly;
    align-items: flex-end;
}

.navbar__item{
    list-style-type: none;
}

.header__item > a{
    font-size: 1.8rem ;
    color: aqua;
    padding: 1em 1.5em;
    text-decoration: none;
    font-style: italic;
    /*text-transform: uppercase;*/
}

.header__item > a:hover{
    filter: drop-shadow(0 0 1.75rem aqua);
    color: aliceblue;
}

.header__item-top a:hover{
    filter: drop-shadow(0 0 1.75rem aqua);
    color: aliceblue;
}

.main{
    padding-bottom: 8rem;
    width: auto;
}

.ICACIE_Section{
    margin: 4rem 4rem 2rem 4rem;
    width: auto;
    padding: 4rem 4rem 4rem 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ICACIE_Welcome{
    margin: 2rem 2rem 2rem 2rem;
    padding: 4rem 4rem 4rem 4rem;
    width: 50%;
    text-align: justify;
    /* filter: drop-shadow( 0 0 1.75rem rgb(0, 0, 0)); */
    background: rgba(0,171,189, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(0,88,138, 0.3);
    
    min-width: 30rem;
}

.ICACIE_Welcome:hover{
    filter: drop-shadow(0 0 1.75rem aqua);
}

.aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ICACIE_Info{
    margin: 2rem 2rem 2rem 2rem;
    padding: 4rem 4rem 4rem 4rem;
    width: 50rem;
    height: auto;
    text-align: justify;
    background-color:  var(--C7);
    /* filter: drop-shadow( 0 0 1.75rem rgb(0, 0, 0)); */
    background: rgba(0,171,189, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(0,88,138, 0.3);
}

.ICACIE_Info:hover{
    filter: drop-shadow(0 0 1.75rem aqua);
}

.section__schedule{
    margin-bottom: 4rem;
    width: 100%;
    padding: 4rem 4rem 4rem 4rem;
    display: flex;
    justify-content: center; 
}

.schedule{
    width: 60%;
    min-width: 80rem;
    padding: 4rem 4rem 4rem 4rem;
    /* From https://css.glass */
    background: rgba(0,171,189, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(0,88,138, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.schedule > h2{
    text-align: center;
}

.sponsor{
    /* From https://css.glass */
    background: rgba(0,171,189, 0.14);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(0,88,138, 0.3);
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.sponsor_boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsor .sponsor_box{
    align-self: center;
    text-align: center;
    height: 28rem;
    width: 25%;
    min-width: 20rem;
    margin: 5rem;
    padding: 2rem;
    background-color: #FFFFFF;
}

.sponsor .sponsor_box > img{
    width: 90%;
    height: auto;
}

.footer{
    height: 10rem;
    background-color: var(--C2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > span{
    color: aliceblue;
    font-size: 1.2rem;
}

/*******************************keynotes************************/

.main_keynote{
    width: 60vw;
    height: auto;
    margin: 0 auto;
}

.keynote_section{
    padding: 4rem;
}

.event-img{
    display: flex;
    justify-content: center;
    margin: 4rem 2rem;
}

 .event-img img {
    width: 20rem;
    height: 20rem;
    border-radius: 0.8rem;
    transition: all 0.3s ease-in-out;
}

.event-img img :hover{
    transform: scale(1.2);
}


.main_keynote .card{
    margin: 0 auto;
    width: 70%;
    height: auto;
    background-color: var(--C4);
    /* From https://css.glass */
    background: rgba(0,171,189, 0.14);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(0,88,138, 0.3);
    text-align: justify;
    border-radius: 4rem;
}

.card .card_button{
    display: flex;
    justify-content: center;
}

.card .card_button-keynote{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    
}

.keynote_section .card button{
    background-color: var(--C5);
    border-radius: 0.8rem;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    height: 4rem;
    line-height: 2rem;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 1rem 1.6rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 2rem;
    transition: all 0.3s ease-in-out;
}

.keynote_section .card button:hover{
    transform: scale(1.3);
}

.keynote_section .card .card_socialmedia{  
    height: 6rem;
    background-color: var(--C3);
    width: 100%;
    display: flex;
    justify-self: center;
    align-self: flex-end;
    border-radius: 0 0 4rem 4rem;
}

.keynote_section .card .card_content{
    padding: 6rem 6rem 2rem 6rem;

}

.social-icons {
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .social-icons li {
    margin: 0.15em;
    font-size: 2rem;
  }
  
  .social-icons i {
    color: #FFFFFF;
  }
  
  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition: all 265ms ease-out;
  }
  
  .social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
  }
  
  .social-icons a:hover i {    
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #ff003c;
    transition: all 265ms ease-in;
  }

/*******************************Accomodation & Travel************************/
.main_accomodation{
    width: 100%;
}

.main_accomodation .accomodation_h1{
    margin-left: 9rem;
    margin-top: 6rem;
    color: var(--C4);
}

.section_hotel{
    width: 100vw;
    height: auto; 
}

.section_hotel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section_hotel .card{
    width: 25%;
    background-color: #FFFFFF;
    margin: 4rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-width: 30rem;
    text-align: justify;

    /* From https://css.glass */
    background: rgba(108, 247, 230, 0.14);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(108, 247, 230, 0.3);
}

.section_hotel .card h2{
    text-align: center;
}

.section_hotel .card p{
    padding-bottom: 2rem;
}

.section_hotel .card .hotel-img{
    display: flex;
    justify-content: center;
}

.section_hotel .card .hotel-img{
    width: 100%;
    height:30rem;
}

.section_hotel .card .hotel-img img{
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.section_hotel .card .hotel-img img:hover{
    transform: scale(1.2);
    border-radius: 1rem;
}

.card .card_button button{
    background-color: var(--C5);
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    height: 5rem;
    list-style: none;
    margin: 0;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0rem 1rem 1rem ;
    transition: all 0.3s ease-in-out;
}

.card .card_button button:hover{
    background-color: whitesmoke;
    color: var(--C3);
}

.card .visit-img{
    width: 100%;
}

.card .visit-img >img{
    width: 100%;
    height : 100%;
    transition: all 0.3s ease-in-out;
}

.card .visit-img >img:hover{
    transform: scale(1.2);
    border-radius: 1rem;
    margin-bottom: 4rem;
}


/*******************************Travel************************/

.section_travel{
    background-color: whitesmoke;
}

.section_travel .section_top{
    width: 100%;
    text-align: center;
    padding: 2rem 4rem 4rem 4rem;
    color: var(--C);
}

.section_travel .section_top h2{
    text-align: center;
    color: black;
}

.section_travel .section_restriction{
    width: 100%;
    text-align: justify;
    padding: 8rem;
    
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("../images/requirements.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.section_travel .section_restriction h3{
    text-align: center;
    color: var(--C2);
}

.section_travel .section_restriction p{
    text-align: center;
    color: var(--C0);
}

.section_travel .section_restriction ul li{
    font-size: 1.6rem;
    margin: 1.4rem;
    color: var(--C3);
    font-weight: 500;
}

.section_travel .section_transit{
    width: 100%;
    background-color: var(--C2);
    text-align: justify;
    padding: 2rem 4rem 4rem 4rem;
}

.section_travel .section_transit h3{
    text-align: center;
    color: black;
}

.section_travel .section_transit p{
    text-align: center;
    color: var(--C0);
}

.section_travel .section_departure{
    width: 100%;
    text-align: justify;
    padding: 2rem 4rem 4rem 4rem;   
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("../images/departure.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.section_travel .section_departure h3{
    text-align: center;
    color: whitesmoke;
}

.section_travel .section_departure ul{
    margin: 4rem;
    color: var(--C4);
}

.section_travel .section_departure ul li{
    font-size: 1.6rem;
    margin: 1.4rem;
}

/************Media Queries**************************/

@media only screen and (max-width: 1030px) {
    .top__header__navbar, .header__navbar {
        display: none;
    }

    .navbar__content{
        justify-content: center;
    }
    
    .topnav{
        display: contents;
    }
    
}
