@import url(main.css);
/*****************HEADER*******************/


body{
    background-color: cadetblue;
    background-image: url('../images/header_background6.jpg');
    background-image: linear-gradient();
    /*background: linear-gradient(rgba (0,0,0,0.2),rgba(0,0,0,0.2),url('../images/header_background1.jpeg'))*/;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.header{
    height: 60vh;
    width: auto;
    background-image: url('../images/header_background4.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;  
}

.header_logo_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 5rem 0;
}

.img_logo{
    height: 12rem;
    width: auto;
    margin: 0 0 0 10rem;
    
}

.navbar__content > .header_logo_title > span{
    font-size: 6rem;
    color: aquamarine;
    margin: 0 0 0 10.5rem;
    
}

.top__header__navbar{
    display: flex;
    justify-content: flex-end;
}

.header__item-top  a{
    font-size: 1.4rem ;
    color: aqua;
    padding: 1em 1.5em;
    text-decoration: none;
    font-style: italic;
    /*text-transform: uppercase;*/
}

.navbar__content{
    height: 53vh;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.header__navbar{
    padding: 2rem 2rem 2rem 2rem;   
    font-weight: 600;
}

.header__list{
    width: 60vw;
    display: flex;   
    justify-content: space-evenly;
    align-items: flex-end;
}

.navbar__item{
    list-style-type: none;
}

.header__item > a{
    font-size: 1.8rem ;
    color: aqua;
    padding: 1em 1.5em;
    text-decoration: none;
    font-style: italic;
    /*text-transform: uppercase;*/
}

.header__item > a:hover{
    filter: drop-shadow(0 0 1.75rem aqua);
    color: aliceblue;
}

.main{
    padding-bottom: 8rem;
    width: auto;

}

.ICACIE_Section{
    margin: 4rem 4rem 4rem 4rem;
    width: auto;
   
    padding: 4rem 4rem 4rem 4rem;
    display: flex;
}

.ICACIE_Welcome{
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem 2rem 2rem 2rem;
    width: 80rem;
    text-align: justify;
    background-color: var(--C0);
    filter: drop-shadow( 0 0 1.75rem rgb(58, 58, 58));
}

.ICACIE_Welcome:hover{
    filter: drop-shadow(0 0 1.75rem aqua);
}

.ICACIE_Info{
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem 2rem 2rem 2rem;
    width: 50rem;
    text-align: justify;
    background-color:  var(--C7);
    filter: drop-shadow( 0 0 1.75rem rgb(58, 58, 58));
}

.ICACIE_Info:hover{
    filter: drop-shadow(0 0 1.75rem aqua);
}

.section__schedule{
    margin: 4rem 4rem 4rem 4rem;
    
    width: auto;
    padding: 4rem 4rem 4rem 4rem;
    display: flex;
    justify-content: center;
    
}

.schedule{
    width: 80rem;
    background-color: aliceblue;
    padding: 4rem 4rem 4rem 4rem;
}
.schedule > h2{
    text-align: center;
}

.footer{
    height: 10rem;
    background-color: var(--C2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > span{
    color: aliceblue;
    font-size: 1.2rem;
}

/*******************************keynotes************************/

.main_keynote{
    width: 60vw;
    height: auto;
    background-color: aliceblue;
    margin: 0 auto;
}

.keynote_section{
    padding: 4rem;
}

.event-img{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

 .event-img img {
    width: 20rem;
    height: 20rem;
    border-radius: 0.8rem;

}

.main_keynote .card{
    margin: 0 auto;
    padding: 6rem;
    width: 55rem;
    height: 70rem;
    background-color: var(--C4);
    text-align: justify;
    border-radius: 4rem;
}

.card .card_button{
    display: flex;
    justify-content: center;
}

.keynote_section .card button{
    background-color: var(--C5);
    border-radius: 0.8rem;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    height: 4rem;
    line-height: 2rem;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 1rem 1.6rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/*******************************Accomodation & Travel************************/
.main_accomodation{
    width: 100%;
}

.main_accomodation .accomodation_h1{
    margin-left: 4rem;
    margin-top: 4rem;
    color: var(--C4);
}

.section_hotel{
    width: 100vw;
    height: auto; 
}

.section_hotel{
    display: flex;
    flex-wrap: wrap;
}

.section_hotel .card{
    height: 70rem;
    width: 40rem;
    background-color: #FFFFFF;
    margin: 4rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.section_hotel .card .hotel-img{
    display: flex;
    justify-content: center;
}

.section_hotel .card .hotel-img img{
    height: 30rem;
    width: auto;
}

.card .card_button button{
    background-color: var(--C5);
    border-radius: 0.8rem;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    height: 4rem;
    list-style: none;
    margin: 0;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
}
