@import url(main.css);
/*****************HEADER*******************/


body{
    background-color: cadetblue;
    background-image: url('../images/header_background6.jpg');
    background-image: linear-gradient();
    /*background: linear-gradient(rgba (0,0,0,0.2),rgba(0,0,0,0.2),url('../images/header_background1.jpeg'))*/;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.header{
    height: 60vh;
    width: 100%;
    background-image: url('../images/header_background4.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;  
}

.header_logo_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10rem 5rem 0;
}

.img_logo{
    height: 12rem;
    width: auto;
    margin: 0 0 0 10rem;
    
}

.img_logo_icacie{
    height: 10rem;
    width: auto;
    margin: 0 0rem 0rem 10rem;
}


.navbar__content > .header_logo_title > span{
    font-size: 4.5rem;
    color: aquamarine;
    margin: 0rem 0 0 10.5rem;
    
}

.top__header__navbar{
    display: flex;
    justify-content: flex-end;
}

.header__item-top  a{
    font-size: 1.4rem ;
    color: aqua;
    padding: 1em 1.5em;
    text-decoration: none;
    font-style: italic;
    /*text-transform: uppercase;*/
}

.navbar__content{
    height: 53vh;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.header__navbar{
    padding: 2rem 2rem 2rem 2rem;   
    font-weight: 600;
}

.header__list{
    width: 60vw;
    display: flex;   
    justify-content: space-evenly;
    align-items: flex-end;
}

.navbar__item{
    list-style-type: none;
}

.header__item > a{
    font-size: 1.8rem ;
    color: aqua;
    padding: 1em 1.5em;
    text-decoration: none;
    font-style: italic;
    /*text-transform: uppercase;*/
}

.header__item > a:hover{
    filter: drop-shadow(0 0 1.75rem aqua);
    color: aliceblue;
}

.main{
    padding-bottom: 8rem;
    width: auto;
}

.ICACIE_Section{
    margin: 4rem 4rem 2rem 4rem;
    width: auto;
    padding: 4rem 4rem 4rem 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ICACIE_Welcome{
    margin: 2rem 2rem 2rem 2rem;
    padding: 4rem 4rem 4rem 4rem;
    width: 50%;
    text-align: justify;
    /* filter: drop-shadow( 0 0 1.75rem rgb(0, 0, 0)); */
    background: rgba(108, 247, 230, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(108, 247, 230, 0.3);
    
    min-width: 30rem;
}

.ICACIE_Welcome:hover{
    filter: drop-shadow(0 0 1.75rem aqua);
}

.ICACIE_Info{
    margin: 2rem 2rem 2rem 2rem;
    padding: 4rem 4rem 4rem 4rem;
    width: 50rem;
    text-align: justify;
    background-color:  var(--C7);
    /* filter: drop-shadow( 0 0 1.75rem rgb(0, 0, 0)); */
    background: rgba(108, 247, 230, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(108, 247, 230, 0.3);
}

.ICACIE_Info:hover{
    filter: drop-shadow(0 0 1.75rem aqua);
}

.section__schedule{
    margin: 0rem 4rem 2rem 4rem;
    width: 100%;
    padding: 4rem 4rem 4rem 4rem;
    display: flex;
    justify-content: center; 
}

.schedule{
    width: 60%;
    padding: 4rem 4rem 4rem 4rem;
    /* From https://css.glass */
    background: rgba(108, 247, 230, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(108, 247, 230, 0.3);
}


.schedule > h2{
    text-align: center;
}

.sponsor{
    /* From https://css.glass */
    background: rgba(108, 247, 230, 0.14);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(108, 247, 230, 0.3);
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.sponsor .sponsor_box{
    height: 28rem;
    width: 25%;
    min-width: 20rem;
    margin: 5rem;
    padding: 2rem;
    background-color: #FFFFFF;
}

.sponsor .sponsor_box > img{
    width: 90%;
    height: auto;
}

.footer{
    height: 10rem;
    background-color: var(--C2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > span{
    color: aliceblue;
    font-size: 1.2rem;
}

/*******************************keynotes************************/

.main_keynote{
    width: 60vw;
    height: auto;
    margin: 0 auto;
}

.keynote_section{
    padding: 4rem;
}

.event-img{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

 .event-img img {
    width: 20rem;
    height: 20rem;
    border-radius: 0.8rem;

}

.main_keynote .card{
    margin: 0 auto;
    padding: 6rem;
    width: 55rem;
    height: auto;
    background-color: var(--C4);
    /* From https://css.glass */
    background: rgba(108, 247, 230, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(108, 247, 230, 0.3);
    text-align: justify;
    border-radius: 4rem;
}

.card .card_button{
    display: flex;
    justify-content: center;
}

.card .card_button-keynote{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.keynote_section .card button{
    background-color: var(--C5);
    border-radius: 0.8rem;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    height: 4rem;
    line-height: 2rem;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 1rem 1.6rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.keynote_section .card .card_socialmedia{
    padding: 4rem;
    height: 5rem;
    background-color: white;
}


.card_socialmedia i{
    width: auto;
    height: 5rem;
    
}

/*******************************Accomodation & Travel************************/
.main_accomodation{
    width: 100%;
}

.main_accomodation .accomodation_h1{
    margin-left: 4rem;
    margin-top: 4rem;
    color: var(--C4);
}

.section_hotel{
    width: 100vw;
    height: auto; 
}

.section_hotel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section_hotel .card{
    width: 25%;
    background-color: #FFFFFF;
    margin: 4rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-width: 30rem;
    text-align: justify;

    /* From https://css.glass */
    background: rgba(108, 247, 230, 0.14);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(108, 247, 230, 0.3);
}

.section_hotel .card h2{
    text-align: center;
}

.section_hotel .card p{
    padding-bottom: 2rem;
}

.section_hotel .card .hotel-img{
    display: flex;
    justify-content: center;
}

.section_hotel .card .hotel-img{
    width: 100%;
    height:30rem;
}

.section_hotel .card .hotel-img img{
    height: 100%;
    width: 100%;

}

.card .card_button button{
    background-color: var(--C5);
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    height: 5rem;
    list-style: none;
    margin: 0;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0rem 1rem 1rem ;
}

.card .visit-img{
    width: 100%;
}

.card .visit-img >img{
    width: 100%;
    height : 100%;
}

/*******************************Travel************************/

.section_travel .section_top{
    width: 100%;
    text-align: center;
    padding: 2rem 4rem 4rem 4rem;
    color: var(--C0);
}

.section_travel .section_top h2{
    text-align: center;
    color: black;
}

.section_travel .section_restriction{
    width: 100%;
    background-color: var(--C1);
    text-align: justify;
    padding: 8rem;
}

.section_travel .section_restriction h3{
    text-align: center;
    color: black;
}

.section_travel .section_restriction p{
    text-align: center;
    color: var(--C0);
}

.section_travel .section_restriction ul li{
    font-size: 1.6rem;
    margin: 1.4rem;
    color: var(--C6);
    font-weight: 500;
}

.section_travel .section_transit{
    width: 100%;
    background-color: var(--C2);
    text-align: justify;
    padding: 2rem 4rem 4rem 4rem;
}

.section_travel .section_transit h3{
    text-align: center;
    color: black;
}

.section_travel .section_transit p{
    text-align: center;
    color: var(--C0);
}

.section_travel .section_departure{
    width: 100%;
    background-color: var(--C3);
    text-align: justify;
    padding: 2rem 4rem 4rem 4rem;
}

.section_travel .section_departure h3{
    text-align: center;
}

.section_travel .section_departure ul{
    margin: 4rem;
    color: var(--C6);
}

.section_travel .section_departure ul li{
    font-size: 1.6rem;
    margin: 1.4rem;
}
