@import url(base.css);


/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 1rem 2rem;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 1.6rem;
}

.fl-table td .profile-pic {
    width: 8rem;
    height: auto;
    border-radius: 4rem;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 1.4rem;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 2rem .625em .625em .625em;
        height: 6rem;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 12rem;
        font-size: 1.3rem;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

.box{
    position: relative;
}

.input {
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    background: none;
    border: 0.3rem solid aqua;
    border-radius: 4rem;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 2.6rem;
    color: aqua;
    outline: none;
    transition: .5s;
    margin-top: 1.5rem;
    margin-right: 0.38rem;
}
.box:hover input{
    width: 35rem;
    background: #3b3640;
    border-radius: 1rem;
}
.box i{

    margin: 0.6rem 0 0 1rem ;
    position: absolute;
    top: 50%;
    right: 0rem;
    transform: translate(-50%,-50%);
    font-size: 2.4rem;
    color: #ffffff;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}